/*--------------------------------------------------------------
# Service Details Section
--------------------------------------------------------------*/
#main-main-main {
    /* border: 2px solid red; */
    height: 90vh;
    }  
    @media (max-width: 992px) { 
        #main-main-main{
          /* border: 2px solid rgb(0, 255, 123); */
          
      height: auto;
        }}
    
    #service-details-img-web{
      /* border: 2px solid rgb(25, 0, 255); */
     align-items: center;
        display: flex;
        width: 100%!important;
        justify-content: center;
        gap: 40px;
    }
    @media (max-width: 992px) { 
      #service-details-img-web{
        /* border: 2px solid rgb(0, 255, 123); */
        flex-direction: column;
        padding: 20px;
    
      }
      #script-tlilos {
        /* border: 12px solid rgb(72, 255, 0)!important; */
        width: 0 auto;
        height: 0 auto;
    
      }
    }
    
    .service-details .service-box {
        
      padding: 20px;
      box-shadow: 0px 2px 20px color-mix(in srgb, var(--default-color), transparent 88%);
    }
    
    .service-details .service-box+.service-box {
        
      margin-top: 30px;
    }
    
    .service-details .service-box h4 {
        
      font-size: 20px;
      font-weight: 700;
      border-bottom: 2px solid color-mix(in srgb, var(--default-color), transparent 92%);
      padding-bottom: 15px;
      margin-bottom: 15px;
    }
    
    .service-details .services-list a {
      color: color-mix(in srgb, var(--default-color), transparent 20%);
      background-color: color-mix(in srgb, var(--default-color), transparent 96%);
      display: flex;
      align-items: center;
      padding: 12px 15px;
      margin-top: 15px;
      transition: 0.3s;
    }
    
    .service-details .services-list a:first-child {
      margin-top: 0;
    }
    
    .service-details .services-list a i {
      font-size: 16px;
      margin-right: 8px;
      color: var(--accent-color);
    }
    
    .service-details .services-list a.active {
      color: var(--contrast-color);
      background-color: var(--accent-color);
    }
    
    .service-details .services-list a.active i {
      color: var(--contrast-color);
    }
    
    .service-details .services-list a:hover {
      background-color: color-mix(in srgb, var(--accent-color), transparent 95%);
      color: var(--accent-color);
    }
    
    .service-details .download-catalog a {
      color: var(--default-color);
      display: flex;
      align-items: center;
      padding: 10px 0;
      transition: 0.3s;
      border-top: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
    }
    
    .service-details .download-catalog a:first-child {
      border-top: 0;
      padding-top: 0;
    }
    
    .service-details .download-catalog a:last-child {
      padding-bottom: 0;
    }
    
    .service-details .download-catalog a i {
      font-size: 24px;
      margin-right: 8px;
      color: var(--accent-color);
    }
    
    .service-details .download-catalog a:hover {
      color: var(--accent-color);
    }
    
    .service-details .help-box {
      background-color: var(--accent-color);
      color: var(--contrast-color);
      margin-top: 30px;
      padding: 30px 15px;
    }
    
    .service-details .help-box .help-icon {
      font-size: 48px;
    }
    
    .service-details .help-box h4,
    .service-details .help-box a {
      color: var(--contrast-color);
    }
    
    .service-details .services-img {
      margin-bottom: 20px;
    }
    
    .service-details h3 {
      font-size: 26px;
      font-weight: 700;
    }
    
    .service-details p {
      font-size: 15px;
    }
    
    .service-details ul {
      list-style: none;
      padding: 0;
      font-size: 15px;
    }
    
    .service-details ul li {
      padding: 5px 0;
      display: flex;
      align-items: center;
    }
    
    .service-details ul i {
      font-size: 20px;
      margin-right: 8px;
      color: var(--accent-color);
    }
    