/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
#about {
    /* border: 2px solid red; */
    margin: 30px;
    margin-top: 0;
    margin-bottom: 0; 
    padding: 20px;
  }
  .about .content h2 {
   
    font-weight: 700;
    font-size: 24px;
  }
  
  .about .content ul {
    list-style: none;
    padding: 0;
  }
  
  .about .content ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  .about .content ul strong {
    margin-right: 10px;
  }
  
  .about .content ul i {
    font-size: 16px;
    margin-right: 5px;
    color: var(--accent-color);
    line-height: 0;
  }
  
  /*--------------------------------------------------------------
  # Stats Section
  --------------------------------------------------------------*/
  .stats i {
    background-color: var(--accent-color);
    color: var(--contrast-color);
    width: 54px;
    height: 54px;
    font-size: 24px;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
  }
  
  .stats .stats-item {
    margin-top: 10px;
    width: 100%;
    position: relative;
    text-align: center;
    z-index: 0;
  }
  
  .stats .stats-item span {
    font-size: 36px;
    display: block;
    font-weight: 700;
    color: color-mix(in srgb, var(--default-color), transparent 20%);
  }
  
  .stats .stats-item p {
    padding: 0;
    margin: 0;
    color: color-mix(in srgb, var(--default-color), transparent 50%);
    font-size: 16px;
  }
      